<!DOCTYPE html>
<html>
    <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
   <body>
      {% include "header.html" %}
       <div class="page-wrapper">
           <div class="col-7 offset-2">
           <h1>Dostupné inzeráty</h1>
               <div class="offerscontainer">
                    {% for offer in offersList %}
                    <div class="offer {%if loop.index0 %2 == 0 %}aliceblue{% else %}bg-light{%endif%} shadow rounded p-2 m-5">
                        <h3><a href="/offer/{{ offer.id }}"> {{ offer.location }} - {{ offer.area }} m<sup>2</sup>- {{ "{:,.0f}".format(offer.price).replace(',', ' ') }} Kč</a> </h3>
                        <p> Náhled obrázků </p>
                        <div class="flexcont"> 
                        {% for image in offer.imagesList %}
                        {% if loop.index0 < 5 %}
                        <div class="mr-1 gridi{{ loop.index0 }}">
                            <img src="/files/{{ image.imagePath }}" class="img-thumbnail listing-img">
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                
               </div>
           </div>
           {%include("footer.html")%}
       </div>
   </body>
</html>